@font-face {
  font-family: 'bodytext';
  src: url('../public/neuemontreal.otf');
  font-weight: normal;
}

@font-face {
  font-family: 'bodytext';
  src: url('../public/neuemontreal-bold.otf');
  font-weight: bold;
}

@font-face {
  font-family: 'wavetext';
  src: url('../public/neuebit.otf');
  font-weight: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* hide scroll bar */
::-webkit-scrollbar {
  display: default;
}

body {
  background-color: #e2dde8;
  color: rgba(0, 0, 0, 0.85);
  font-family: 'bodytext';
  line-height: 1.4;
}

.body {
  padding-bottom: 20vh;
}

a {
  text-decoration: underline;
  cursor: pointer;
  color: #6a3b7b;
}

h1 {
  padding: 0;
  background-color: 'red';
}

h2 {
  padding: 0;
  margin: 0;
  background-color: 'red';
}

button {
  cursor: pointer;
}

button[data-active='true'] {
  color: #808080;
  text-decoration: line-through;
}

button:disabled {
  color: #808080;
  text-shadow: 1px 1px #ffffff;
  cursor: default;
}

button::selection {
  background: transparent;
}

a:hover {
  opacity: 0.5;
}

.wave span {
  font-family: 'wavetext';
  display: inline-block;
  -webkit-animation: wave-text 2s ease-in-out infinite;
  animation: wave-text 2s ease-in-out infinite;
  @apply relative mt-[-10px] bottom-[-2px] mb-[-10px];
}

.wave:hover span {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

@-webkit-keyframes wave-text {
  00% {
    transform: translateY(0em);
  }
  50% {
    transform: translateY(-0.15em);
  }
  100% {
    transform: translateY(0em);
  }
}

@keyframes wave-text {
  00% {
    transform: translateY(0em);
  }
  50% {
    transform: translateY(-0.15em);
  }
  100% {
    transform: translateY(0em);
  }
}
