/* get ibm plex mono font */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap');

/* get augillion font */
@font-face {
  font-family: 'Augillion';
  src: url('../public/Augillion.otf');
  font-weight: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* hide scroll bar */
::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #FBF5EF;
  font-family: 'IBM Plex Mono';
  color: rgba(0, 0, 0, 0.85);
}

h1 {
  font-family: 'Augillion';
  font-size: 50px;
  -webkit-text-stroke: 1px black;
}

.card {
  border: 1.5px solid black;
  cursor: pointer;
}

.card:hover {
  box-shadow: 8px 8px 0px 0px #FEC2AE;
}

.wave span {
  display: inline-block;
  -webkit-animation: wave-text 1.5s ease-in-out infinite;
    animation: wave-text 1.5s ease-in-out infinite;
}

.body {
  padding-bottom: 20vh;
}

.link {
  text-decoration: underline;
  cursor: pointer;
}

.link:hover, .icon-link:hover {
  opacity: 0.5;
}

.wave span:nth-of-type(1) {
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-text-fill-color: #BFA7C5;
}
.wave span:nth-of-type(2) {
  -webkit-animation-delay: -1.9s;
          animation-delay: -1.9s;
  -webkit-text-fill-color: #C4A7C5;
}
.wave span:nth-of-type(3) {
  -webkit-animation-delay: -1.8s;
          animation-delay: -1.8s;
  -webkit-text-fill-color: #CBA7C5;
}
.wave span:nth-of-type(4) {
  -webkit-animation-delay: -1.7s;
          animation-delay: -1.7s;
  -webkit-text-fill-color: #D4A8C5;
}
.wave span:nth-of-type(5) {
  -webkit-animation-delay: -1.6s;
          animation-delay: -1.6s;
  -webkit-text-fill-color: #D9A8C5;
}
.wave span:nth-of-type(6) {
  -webkit-animation-delay: -1.5s;
          animation-delay: -1.5s;
  -webkit-text-fill-color: #E3A8C6;
}
.wave span:nth-of-type(7) {
  -webkit-animation-delay: -1.4s;
          animation-delay: -1.4s;
  -webkit-text-fill-color: #E9A8C6;
}
.wave span:nth-of-type(8) {
  -webkit-animation-delay: -1.3s;
          animation-delay: -1.3s;
  -webkit-text-fill-color: #F0A8C6;
}
.wave span:nth-of-type(9) {
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
  -webkit-text-fill-color: #F5A8C6;
}
.wave span:nth-of-type(10) {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
  -webkit-text-fill-color: #FCA4B4;
}
.wave span:nth-of-type(11) {
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  -webkit-text-fill-color: #FDAEB2;
}
.wave span:nth-of-type(12) {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
  -webkit-text-fill-color: #FEB8B0;
}
.wave span:nth-of-type(13) {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
  -webkit-text-fill-color: #FEC2AE;
}
.wave span:nth-of-type(14) {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s;
  -webkit-text-fill-color: #FECBAC;
}
.wave span:nth-of-type(15) {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
  -webkit-text-fill-color: #FED4AA;
}
.wave span:nth-of-type(16) {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
  -webkit-text-fill-color: #FEDDA8;
}

@-webkit-keyframes wave-text {
  00% {
    transform: translateY(0em);
  }
  50% {
    transform: translateY(-0.2em);
  }
  100% {
    transform: translateY(0em);
  }
}
 
@keyframes wave-text {
  00% {
    transform: translateY(0em);
  }
  50% {
    transform: translateY(-0.2em);
  }
  100% {
    transform: translateY(0em);
  }
}